# Mac
.DS_Store

# Editor
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# python vitural env
env/

# c
*.out

# Emcas
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# Emacs org-mode convert default outputs
README.html

# Build output
build/
